.darkMode{
    background-color: rgb(36, 33, 33);
    filter: invert(100%);
}
.sect2{
    background-color: rgb(172, 245, 100);
}
.tarjeta{
    width: 100px;
    height: 130px;
    background-color: rgb(248, 167, 138);
}
.precioProd{
    color: rgb(19, 0, 128);
}
.vacio{
    background-color: rgb(207, 100, 100);
}
#info{
    display: none;
}
.precioUSVenta{
    color: green;
}
.precioUSCompra{
    color: rgb(199, 14, 14);
}
